{% set searchTerm = __SELF__.searchQuery %}
{% if faqsPerCategory | length > 0 %}
    {% for categoryGroup in faqsPerCategory %}
        <div class="faq-category">
            <h2>{{ categoryGroup.name }}</h2>
            <ul>
            {% for faq in categoryGroup.faqs %}
                {% set escapedQuestion = faq.question | e %}
                {% set escapedSearchTerm = searchTerm | e %}
                {% set question = searchTerm ? escapedQuestion | replace({(escapedSearchTerm): '<mark>' ~ escapedSearchTerm ~ '</mark>'}) : escapedQuestion %}
                {% set answer = searchTerm ? faq.answer | replace({(searchTerm): '<mark>' ~ searchTerm ~ '</mark>'}) : faq.answer %}
                <li>
                    <details>
                        <summary><span>{{ question | raw }}</span></summary>
                        <div>{{ answer | raw }}</div>
                    </details>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p class='no-faqs-message'>{{ __SELF__.noFaqsMessage }}</p>
{% endif %}
