{% set categories = __SELF__.categories %}
{% set faqPage = __SELF__.faqPage %}
{% set categoryPage = __SELF__.categoryPage %}
{% set currentCategorySlug = __SELF__.currentCategorySlug %}

{% if categories|length > 0 %}
    <nav class='faq-categories'>
        <ul>
            {% for category in categories %}
                <li>
                    <a href='{{ category.url }}'
                        {{- currentCategorySlug == category.slug ? (' class="active"' | raw) : '' -}}
                    >
                        {{ category.name }} ({{ category.faqs_count }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}